.marginRightIntroduction {
    margin-right: 300px;
}

.body {
    margin-top: 50px;
}

.bubbles {
    position: absolute;
    transform: translateX(-100%);
    z-index: -1;
}

.offsetImage {
    margin-left: 300px;
}

.segment {
    width: 45%;
}

.thumbnail {
    cursor: pointer;
    width: 500px;
    height: auto;
    border-radius: 8px;
}

.video {
    width: 500px;
    height: auto;
    border-radius: 8px;
}

@media screen and (max-width: 800px) {
    .icon {
        width: 200px;
        height: auto;
    }
    
    .title {
        color: #404040;
        font-size: 24px;
    }
    
    .body {
        font-size: 18px;
        margin-top: 10px;
    }

    .marginRightIntroduction {
        margin-right: 25px;
    }

    .offsetImage {
        margin-left: 0px;
    }

    .segment {
        width: 70%;
    }

    .thumbnail {
        width: 100%;
    }

    .video {
        width: 100%;
    }
}