.verticalAlign {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.title {
  color: #404040;
  font-size: rem(50px);
  font-weight: 500px;
  letter-spacing: rem(1px);
}

.background {
  width: 100vw;
  height: 110vh;
  object-fit: contain;
}

.banner {
  margin-left: 100px;
}

@media screen and (max-width: 800px) {
  .background {
    display: none;
  }

  .fullHeight {
    height: 100vh;
  }

  .banner {
    margin-left: 15%;
  }
}
